.DS_Store
input-cache/
output/
temp/
template/
bundles/
releases/
input/tests/*-bundle.json
input/tests/*/*-bundle.json
input/tests/*/*/*-bundle.json
.idea/
/input/tests/results
*.bkp
fsh-generated/
gofsh/